/* styles.css */

/* Define styles for the modern TextField */
.modern-textfield {
    -fx-background-color: #f0f0f0; /* Background color */
    -fx-border-color: #bdbdbd; /* Border color */
    -fx-background-radius: 10px; /* Rounded corners */

    -fx-border-radius: 10px; /* Rounded corners */
    -fx-text-fill: #333333; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 4px 6px; /* Padding */
}

/* Hover effect for the modern TextField */
.modern-textfield:hover {
    -fx-background-color: #e0e0e0; /* Lighter background color on hover */
}

/* Focus effect for the modern TextField */
.modern-textfield:focused {
    -fx-border-color: #051659; /* Border color on focus */
    -fx-border-width: 1px;
}